html, body {
  margin:0;
  padding:0;
  }
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
h1{
  font:400 40px 'pt sans',sans-serif;
  text-align:center;
}
.nav a{
  text-decoration:none;
}
.nav{
  
  text-align: center;
  height:70px;
  display: inline-block;
width: 45.7vw;
  background:rgba(20, 110, 184, 0.801);

  z-index: 1;
}
.nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
.nav>ul>li>ul{
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  list-style:none;
}
.nav>ul>li:hover>ul li a{
  opacity:1;
  height:50px;
   transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
}
.nav>ul>li>ul a{
  display:block;
  color:#222;
  width:150px;
  line-height:50px !important;
  font:700 14px 'pt sans',sans-serif;
  background:#eee;
  border-bottom:1px solid rgb(0, 0, 0);
  text-align:center;
  padding:0 5px;
   height:0;
  overflow:hidden;
  opacity:0;
    transition:all .3s linear .2s;
  -o-transition:all .3s linear .2s;
  -moz-transition:all .3s linear .2s;
  -webkit-transition:all .3s linear .2s;
}
.nav>ul>li{
  float:left;
  position:relative;
}
.nav>ul>li>a{
  padding:0 20px;
  color:rgb(255, 255, 255);
  display:block;
  line-height:70px !important;
  font:400 15px 'PT Sans', sans-serif;
  text-transform:uppercase;
  text-decoration:none;
}

.selected.active>a,.active>a{
  transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
  color:#fff;
}
.img{
  height: 100%;
    z-index: -1;
    display: flex;
    position: absolute;
    top: 4px;
    opacity: 0.8;
}
.pres{
display: flex;
margin-top: 21vh;
    font-size: xx-large;
    color: black;
    background-color: White;
    opacity: 0.4;
    text-align: center;
    box-shadow: 3px 3px 3px 3px black;
    width: 700px;
}

